/*FORM STYLES*/

#wufoo-m1yv1qug02r5x7l {
    padding-top:400px;
    margin:40px 40px 0px 40px;
    padding:40px;
    background-color:#fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* General Styles */

html {
    height:100%
    }

body {
    background-color:#F0F0F0;
    margin:auto;
    height:100%;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 200;
}

ul, ol {
    padding:0;
}

header {
    height:100%;
}

.clear {
    clear: both;
    height: 1px;
    width: 100%;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size:24pt;
    font-weight: 400;
    margin: 0 0 20px;
    text-align: center;
    text-shadow: 1px 1px 0 #fff, 2px 2px 0 #bbb;
}

h2 {
    font-family: 'Josefin Slab', serif;
    font-size:18pt;
    text-transform: uppercase;
}

h3 {
    font-family: 'Josefin Slab', serif;
    font-size: 18px;
    line-height: .8;
    font-weight: 800;
    text-transform: uppercase;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight:200;
    margin:0;
    padding:0;
}

hr {
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #fff;
    margin: 25px 0;
    clear: both;
}

a {
    text-decoration:none;
    color:#e5b996;
}

/* NAV */

/* Make Nav Sticky */
#nav_container {
    background-image:url('images/navtexture.jpg');
    height:60px;
    left:0;
    position:fixed;
    width:100%;
    top:0;
}

#nav{
    line-height: 30px;
    margin: auto;
    width: 100%;
    text-align:center; }

nav a {
    font-family: 'Josefin Slab', serif;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    font-size: 24px;
    line-height: 1;
    color: black;
    z-index:40;
}

nav a:hover {
    color:#addfa6;
    transition: all 0.3s ease-out 0s;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left:40px;
    margin-right:40px;
    vertical-align: text-bottom;
}

/* FOOTER STYLES */

#footer {
    background-color:#F0F0F0;
    text-align: center;
    color: #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    margin: 30px auto;
    margin-bottom:20px;

}

a {
    text-decoration:none;
    color:#000;
}

a:hover {
    color:#addfa6;
    transition: all 0.3s ease-out 0s;
}

.footerSection {
    width: 30%;
    float: left;
    margin-right: 20px;
    margin-bottom:25px;
}

#footerIcons {
    width: 175px;
    margin: auto;
}

.footerIcon {
    float: left;
    margin-right: 15px;

}

.footerIcon a {
    background-position: 0 0;
    width: 41px;
    height: 50px;
    overflow: hidden;
    background-repeat: no-repeat;
    display: block;
}

.footerIcon a:hover {
    background-position: 0 -50px;
    transition: all 0.3s ease-out 0s;
}

.hover:hover {
    color:#addfa6;
    transition: all 0.3s ease-out 0s;
}

img.hover:hover{
    color:#addfa6;
    transition: all 0.3s ease-out 0s;
}

input {
    margin: 5px 0;
}

#mc_embed_signup {
padding-top: 30px;
padding: 3px;
width: 150px;
background-color: #f0f0f0;
font-family: 'Josefin Slab', serif;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 9px;
padding-left: 8px;
margin: auto;
}

#mc-embedded-subscribe {
    font-family: 'Josefin Slab', serif;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: 400;
    padding: 10px 0;
    height: 25px;
}

/* ---ID STYLES---*/

#instagram {
    text-align:center;
    margin-bottom:-30px;
}

/* ---IMAGE STYLES---*/

.centered {
    text-align: center;
}

.wrapper {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 5px;
}

.container {
    padding-top: 40px;
    width: 1200px;
    margin: 0 auto;
}

ul.grid-nav {
    list-style: none;
    font-size: .85em;
    font-weight: 200;
    text-align: center;
}

ul.grid-nav li {
    display: inline-block;
}

ul.grid-nav li a {
    display: inline-block;
    background: #999;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

ul.grid-nav li a:hover {
    background: #addfa6;
}

ul.grid-nav li a.active {
    background: #333;
}

/* ----- Image grids ----- */
ul.rig {
    list-style: none;
    font-size: 0px;
    margin-left: -2.5%; /* should match li left margin */
}

ul.rig li {
    display: inline-block;
    padding: 10px;
    margin: 0 0 2.5% 2.5%;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul.rig li:hover{
    background-color:#addfa6;
    transition: all 0.8s ease-out 0s;
}

ul.rig li img {
    max-width: 100%;
    height: auto;
    margin: 0 0 10px;
}
ul.rig li h3 {
    margin: 0 0 5px;
}
ul.rig li p {
    font-size: .9em;
    line-height: 1.5em;
    color: #999;
}

/* class for 2 columns */
ul.rig.columns-2 li {
    width: 47.5%; /* this value + 2.5 should = 50% */
}

/* class for 4 columns */
ul.rig.columns-4 li {
    width: 22.5%; /* this value + 2.5 should = 25% */
}

@media (max-width: 1199px) {
    .container {
        width: auto;
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    ul.grid-nav li {
        display: block;
        margin: 0 0 5px;
    }
    ul.grid-nav li a {
        display: block;
    }
    ul.rig {
        margin-left: 0;
    }
    ul.rig li {
        width: 100% !important; /* over-ride all li styles */
        margin: 0 0 20px;
    }