/* General Styles */

html {
    height:100%;
}

body {
    background-color:#F0F0F0;
    margin:auto;
    height:100%;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 200;
}

ul, ol {
    padding:0;
}

header {
    height:100%;
}

.clear {
    clear: both;
    height: 1px;
    width: 100%;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size:24pt;
    font-weight: 400;
    margin: 0 0 20px;
    text-align: center;
    text-shadow: 1px 1px 0 #fff, 2px 2px 0 #bbb;
}

h2 {
    font-family: 'Josefin Slab', serif;
    font-size:18pt;
    text-transform: uppercase;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    line-height: .8;
    font-weight: 800;
}

h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 800;

}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight:200;
    margin:0;
    padding:0;
}

hr {
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #fff;
    margin: 25px 0;
    clear: both;
}

/* NAV */

/* Make Nav Sticky */
#nav_container {
    background-image: url('images/navtexture.jpg');
    height: 60px;
    left: 0;
    position: fixed;
    width: 100%;
    top: 0;
}

#nav{
    line-height: 30px;
    margin: auto;
    width: 100%;
    text-align:center; }

nav a {
    font-family: 'Josefin Slab', serif;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    font-size: 24px;
    line-height: 1;
    color: black;
    z-index:40;
}

nav a:hover {
    color:#addfa6;
    transition: all 0.3s ease-out 0s;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left:40px;
    margin-right:40px;
    vertical-align: text-bottom;
}

/* ---ID STYLES--- */

#wrap {
    margin:auto;
    width:80%;
}

#banner {
background-image: url('images/piespetalsbanner.png');
display:block;
background-position: bottom center;
background-repeat: no-repeat;
width: 100%;
height: 100%;
background-size: cover;
}

/* These are the information sections*/

#learn {
    margin:40px 40px 0px 40px;
    padding:40px;
    background-color:#fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#find {
    margin:40px 40px 0px 40px;
    padding:40px;
    background-color:#fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#menu {
    margin:40px 40px 0px 40px;
    padding:40px;
    background-color:#fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Styling for Learn */


#photos {
    display:inline-block;
    float:right;
    width:30%;
    margin-top:-60px;
    padding:20px;
}

/* Styling for Locate map and text */

#map {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*display:inline-block;*/
    float: right;
    width: 50%;
    height: 350px;
}

.textLeft {
    float: left;
    width:45%;
}

/* Styling for Menu */

div.menu {
    height: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: none;
    margin-bottom: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #fff;
}

div.col {
    float: left;
    width: 33%;
}

/* FOOTER STYLES */

#footer {
    background-color:#F0F0F0;
    text-align: center;
    color: #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    margin: 30px auto;
    margin-bottom:40px;
}

a {
    text-decoration:none;
    color:#000;
}

a:hover {
    color:#addfa6;
    transition: all 0.3s ease-out 0s;
}

.footerSection {
    width: 30%;
    float: left;
    margin-right: 20px;
    margin-bottom:25px;
}

#footerIcons {
    width: 175px;
    margin: auto;
}

.footerIcon {
    float: left;
    margin-right: 15px;

}

.footerIcon a {
    background-position: 0 0;
    width: 41px;
    height: 50px;
    overflow: hidden;
    background-repeat: no-repeat;
    display: block;
}

.footerIcon a:hover {
    background-position: 0 -50px;
    transition: all 0.3s ease-out 0s;
}

.hover:hover {
    color:#addfa6;
    transition: all 0.3s ease-out 0s;
}

img.hover:hover{
    color:#addfa6;
    transition: all 0.3s ease-out 0s;
}

input {
    margin: 5px 0;
}

#mc_embed_signup {
padding-top: 30px;
padding: 3px;
width: 150px;
background-color: #f0f0f0;
font-family: 'Josefin Slab', serif;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 9px;
padding-left: 8px;
margin: auto;
}

#mc-embedded-subscribe {
    font-family: 'Josefin Slab', serif;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: 400;
    padding: 10px 0;
    height: 25px;
}

/*Our Mobile Styles*/

@media screen and (max-width: 480px) {

header {
    height:50%;
}

/* NAV */

/* Make Nav Sticky */
#nav_container {
    background-image: url('images/navtexture.jpg');
    height: 60px;
    left: 0;
    position: fixed;
    width: 100%;
    top: 0;
}

#nav{
    line-height: 20px;
    margin: auto;
    width: 100%;
 }

/* END NAV STYLES */

#learn {
    margin:20px 20px 0px 20px;
    padding: 5px 20px 5px 20px;
    background-color:#fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#find {
    margin:20px 20px 0px 20px;
    padding: 5px 20px 5px 20px;
    background-color:#fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.textLeft {
    float: none;
    width:100%;
}

#menu {
    margin:20px 20px 0px 20px;
    padding: 5px 20px 5px 20px;
    background-color:#fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h1 {
    font-size: 20px;
}

.hiddenMobile {
    display: none;
}

#menu ul{
    display: none;
}

     .box {
        float: none;
        width: auto;
        padding: 10px;
        border: none;
        border-top: 1px solid;
     }

    .box h2 {
        margin: .5em 0;
    }

}

/* ---FONT STYLES--- */
/*font-family: 'Josefin Sans', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Flamenco', cursive;
font-family: 'Raleway Dots', cursive;*/